/* screen - our-services */

.our-services {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 3541px;
  min-width: 1440px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.our-services .header-RQB2Az {
  background-color: transparent;
  height: 1108px;
  left: 0px;
  position: absolute;
  top: 141px;
  width: 1444px;
}

.our-services .rectangle-4-lEUivb {
  background-color: var(--white);
  height: 1108px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.our-services .our-services-lEUivb {
  background-color: transparent;
  color: var(--black-rock);
  font-family: var(--font-family-poppins);
  font-size: 94px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 416px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 54px;
  width: auto;
}

.our-services .far-far-away-behind-lEUivb {
  background-color: transparent;
  height: auto;
  left: 445px;
  letter-spacing: 0.00px;
  line-height: 28px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 190px;
  width: 550px;
}

.our-services .group-129-lEUivb {
  background-color: transparent;
  height: 729px;
  left: 187px;
  position: absolute;
  top: 321px;
  width: 1077px;
}

.our-services .group-33542-wpUTaW {
  background-color: transparent;
  height: 656px;
  left: 518px;
  position: absolute;
  top: 27px;
  width: 559px;
}

.our-services .rectangle-7-yz5L2X {
  background-color: transparent;
  height: 256px;
  left: -50px;
  mix-blend-mode: normal;
  position: absolute;
  top: -2px;
  width: 155px;
}

.our-services .rectangle-8-yz5L2X {
  background-color: transparent;
  height: 229px;
  left: 40px;
  mix-blend-mode: normal;
  position: absolute;
  top: -40px;
  width: 323px;
}

.our-services .mask-group-yz5L2X {
  background-color: transparent;
  height: 493px;
  left: 2px;
  position: absolute;
  top: 163px;
  width: 557px;
}

.our-services .group-33541-wpUTaW {
  background-color: transparent;
  height: 729px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 483px;
}

.our-services .rectangle-9-Yovx9c {
  background-color: transparent;
  height: 175px;
  left: 360px;
  mix-blend-mode: normal;
  position: absolute;
  top: 614px;
  width: 166px;
}

.our-services .mask-group-Yovx9c {
  background-color: transparent;
  height: 683px;
  left: 48px;
  position: absolute;
  top: 1px;
  width: 435px;
}

.our-services .group-17-Yovx9c {
  background-color: transparent;
  height: 156px;
  left: 0px;
  position: absolute;
  top: 45px;
  width: 152px;
}

.our-services .group-5-GKflsO {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 152px;
}

.our-services .group-6-GKflsO {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 14px;
  width: 152px;
}

.our-services .group-7-GKflsO {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 28px;
  width: 152px;
}

.our-services .group-8-GKflsO {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 42px;
  width: 152px;
}

.our-services .group-9-GKflsO {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 152px;
}

.our-services .group-10-GKflsO {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 70px;
  width: 152px;
}

.our-services .group-11-GKflsO {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 84px;
  width: 152px;
}

.our-services .group-12-GKflsO {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 98px;
  width: 152px;
}

.our-services .group-13-GKflsO {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 112px;
  width: 152px;
}

.our-services .group-14-GKflsO {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 126px;
  width: 152px;
}

.our-services .group-15-GKflsO {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 140px;
  width: 152px;
}

.our-services .group-16-GKflsO {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 154px;
  width: 152px;
}

.our-services .mask-group-RQB2Az {
  background-color: transparent;
  height: 1098px;
  left: 0px;
  position: absolute;
  top: 5763px;
  width: 1440px;
}

.our-services .offering-RQB2Az {
  background-color: transparent;
  height: 912px;
  left: 0px;
  position: absolute;
  top: 1249px;
  width: 1444px;
}

.our-services .rectangle-13-zytOI8 {
  background-color: var(--white);
  height: 912px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.our-services .what-we-offer-zytOI8 {
  background-color: transparent;
  height: auto;
  left: 540px;
  letter-spacing: 0.00px;
  line-height: 68px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 182px;
  white-space: nowrap;
  width: auto;
}

.our-services .our-services-zytOI8 {
  background-color: transparent;
  height: auto;
  left: 643px;
  letter-spacing: 0.00px;
  line-height: 68px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 114px;
  white-space: nowrap;
  width: auto;
}

.our-services .group-55-zytOI8 {
  background-color: transparent;
  height: 444px;
  left: 532px;
  position: absolute;
  top: 354px;
  width: 381px;
}

.our-services .rectangle-46-W5IiBr {
  background-color: var(--violet-eggplant);
  border-radius: 8px;
  box-shadow: 0px 10px 100px #0000001a;
  height: 444px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 375px;
}

.our-services .far-far-away-behind-W5IiBr {
  background-color: transparent;
  height: auto;
  left: 41px;
  letter-spacing: 0.00px;
  line-height: 28px;
  mix-blend-mode: normal;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 292px;
  width: 293px;
}

.our-services .x2-W5IiBr {
  background-color: transparent;
  height: auto;
  left: 41px;
  letter-spacing: 0.00px;
  line-height: 28px;
  mix-blend-mode: normal;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 188px;
  white-space: nowrap;
  width: 293px;
}

.our-services .group-51-W5IiBr {
  background-color: transparent;
  height: 88px;
  left: 143px;
  position: absolute;
  top: 66px;
  width: 88px;
}

.our-services .work-xbFPPU {
  background-color: transparent;
  height: 77.84%;
  left: 10.80%;
  position: absolute;
  top: 10.57%;
  width: 78.41%;
}

.our-services .mask-group-W5IiBr {
  background-color: transparent;
  height: 564px;
  left: -73px;
  position: absolute;
  top: -60px;
  width: 521px;
}

.our-services .x10-days-processing-W5IiBr {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 88px;
  letter-spacing: 0.00px;
  line-height: 68px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 224px;
  white-space: nowrap;
  width: auto;
}

.our-services .group-54-zytOI8 {
  background-color: transparent;
  height: 444px;
  left: 124px;
  position: absolute;
  top: 354px;
  width: 380px;
}

.our-services .rectangle-45-DiKQXS {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 10px 100px #0000001a;
  height: 444px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 374px;
}

.our-services .far-far-away-behind-DiKQXS {
  background-color: transparent;
  height: auto;
  left: 41px;
  letter-spacing: 0.00px;
  line-height: 28px;
  mix-blend-mode: normal;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 292px;
  width: 293px;
}

.our-services .x1-DiKQXS {
  background-color: transparent;
  height: auto;
  left: 41px;
  letter-spacing: 0.00px;
  line-height: 28px;
  mix-blend-mode: normal;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 188px;
  white-space: nowrap;
  width: 293px;
}

.our-services .group-53-DiKQXS {
  background-color: transparent;
  height: 88px;
  left: 143px;
  position: absolute;
  top: 66px;
  width: 88px;
}

.our-services .iconly-two-tone-wallet-K4TmJH {
  background-color: transparent;
  height: 64px;
  left: 10px;
  position: absolute;
  top: 12px;
  width: 69px;
}

.our-services .mask-group-DiKQXS {
  background-color: transparent;
  height: 564px;
  left: -74px;
  position: absolute;
  top: -60px;
  width: 521px;
}

.our-services .get-loans-DiKQXS {
  background-color: transparent;
  height: auto;
  left: 123px;
  letter-spacing: 0.00px;
  line-height: 68px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 224px;
  white-space: nowrap;
  width: auto;
}

.our-services .group-56-zytOI8 {
  background-color: transparent;
  height: 444px;
  left: 940px;
  position: absolute;
  top: 354px;
  width: 381px;
}

.our-services .rectangle-47-w9G81i {
  background-color: #111849;
  border-radius: 8px;
  box-shadow: 0px 10px 100px #0000001a;
  height: 444px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 374px;
}

.our-services .far-far-away-behind-w9G81i {
  background-color: transparent;
  height: auto;
  left: 42px;
  letter-spacing: 0.00px;
  line-height: 28px;
  mix-blend-mode: normal;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 292px;
  width: 293px;
}

.our-services .x3-w9G81i {
  background-color: transparent;
  height: auto;
  left: 42px;
  letter-spacing: 0.00px;
  line-height: 28px;
  mix-blend-mode: normal;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 188px;
  white-space: nowrap;
  width: 293px;
}

.our-services .extreme-security-w9G81i {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 87px;
  letter-spacing: 0.00px;
  line-height: 68px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 224px;
  white-space: nowrap;
  width: auto;
}

.our-services .group-52-w9G81i {
  background-color: transparent;
  height: 88px;
  left: 144px;
  position: absolute;
  top: 66px;
  width: 88px;
}

.our-services .iconly-two-tone-chart-LeLx3C {
  background-color: transparent;
  height: 69px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 69px;
}

.our-services .mask-group-w9G81i {
  background-color: transparent;
  height: 564px;
  left: -73px;
  position: absolute;
  top: -60px;
  width: 521px;
}

.our-services .choose-us-RQB2Az {
  background-color: transparent;
  height: 801px;
  left: 124px;
  position: absolute;
  top: 2239px;
  width: 1209px;
}

.our-services .far-far-away-behind-XLVAaP {
  background-color: transparent;
  height: auto;
  left: 717px;
  letter-spacing: 0.00px;
  line-height: 28px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 160px;
  width: 473px;
}

.our-services .we-are-the-best-XLVAaP {
  background-color: transparent;
  height: auto;
  left: 717px;
  letter-spacing: 0.00px;
  line-height: 68px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 68px;
  white-space: nowrap;
  width: auto;
}

.our-services .why-choose-us-XLVAaP {
  background-color: transparent;
  height: auto;
  left: 717px;
  letter-spacing: 0.00px;
  line-height: 68px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: auto;
}

.our-services .far-far-away-behind-Nxh7B5 {
  background-color: transparent;
  height: auto;
  left: 817px;
  letter-spacing: 0.00px;
  line-height: 28px;
  mix-blend-mode: normal;
  opacity: 0.5;
  position: absolute;
  text-align: left;
  top: 330px;
  width: 374px;
}

.our-services .far-far-away-behind-yWVKMQ {
  background-color: transparent;
  height: auto;
  left: 817px;
  letter-spacing: 0.00px;
  line-height: 28px;
  mix-blend-mode: normal;
  opacity: 0.5;
  position: absolute;
  text-align: left;
  top: 521px;
  width: 374px;
}

.our-services .far-far-away-behind-IsUXjS {
  background-color: transparent;
  height: auto;
  left: 817px;
  letter-spacing: 0.00px;
  line-height: 28px;
  mix-blend-mode: normal;
  opacity: 0.5;
  position: absolute;
  text-align: left;
  top: 712px;
  width: 374px;
}

.our-services .fast-XLVAaP {
  background-color: transparent;
  height: auto;
  left: 817px;
  letter-spacing: 0.00px;
  line-height: 68px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 262px;
  white-space: nowrap;
  width: auto;
}

.our-services .reliability-XLVAaP {
  background-color: transparent;
  height: auto;
  left: 817px;
  letter-spacing: 0.00px;
  line-height: 68px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 453px;
  white-space: nowrap;
  width: auto;
}

.our-services .x247-support-XLVAaP {
  background-color: transparent;
  height: auto;
  left: 817px;
  letter-spacing: 0.00px;
  line-height: 68px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 644px;
  white-space: nowrap;
  width: auto;
}

.our-services .rectangle-52-XLVAaP {
  background-color: var(--mystic);
  height: 1px;
  left: 717px;
  mix-blend-mode: normal;
  position: absolute;
  top: 418px;
  width: 473px;
}

.our-services .rectangle-54-XLVAaP {
  background-color: var(--mystic);
  height: 1px;
  left: 717px;
  mix-blend-mode: normal;
  position: absolute;
  top: 609px;
  width: 473px;
}

.our-services .rectangle-56-XLVAaP {
  background-color: var(--mystic);
  height: 1px;
  left: 717px;
  mix-blend-mode: normal;
  position: absolute;
  top: 800px;
  width: 473px;
}

.our-services .mask-group-XLVAaP {
  background-color: transparent;
  height: 801px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 619px;
}

.our-services .group-65-XLVAaP {
  background-color: transparent;
  height: 72px;
  left: 717px;
  position: absolute;
  top: 294px;
  width: 72px;
}

.our-services .rectangle-51-YDPJh0 {
  background-color: transparent;
  height: 172px;
  left: -50px;
  mix-blend-mode: normal;
  position: absolute;
  top: -40px;
  width: 172px;
}

.our-services .angle-double-right-YDPJh0 {
  background-color: transparent;
  height: 40px;
  left: 16px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 40px;
}

.our-services .group-67-XLVAaP {
  background-color: transparent;
  height: 72px;
  left: 717px;
  position: absolute;
  top: 676px;
  width: 72px;
}

.our-services .rectangle-55-CPClom {
  background-color: transparent;
  height: 172px;
  left: -50px;
  mix-blend-mode: normal;
  position: absolute;
  top: -40px;
  width: 172px;
}

.our-services .iconly-two-tone-call-CPClom {
  background-color: transparent;
  height: 44px;
  left: 14px;
  position: absolute;
  top: 14px;
  width: 44px;
}

.our-services .group-66-XLVAaP {
  background-color: transparent;
  height: 72px;
  left: 717px;
  position: absolute;
  top: 485px;
  width: 72px;
}

.our-services .rectangle-53-VWRMUy {
  background-color: transparent;
  height: 172px;
  left: -50px;
  mix-blend-mode: normal;
  position: absolute;
  top: -40px;
  width: 172px;
}

.our-services .iconly-two-tone3-user-VWRMUy {
  background-color: transparent;
  height: 34px;
  left: 14px;
  position: absolute;
  top: 19px;
  width: 44px;
}

.our-services .group-3-RQB2Az {
  background-color: transparent;
  height: 141px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.our-services .group-2-Mx4zvM {
  background-color: transparent;
  height: 21px;
  left: 478px;
  position: absolute;
  top: 60px;
  width: 305px;
}

.our-services .home-3wiijG {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.our-services .faq-3wiijG {
  background-color: transparent;
  height: auto;
  left: 270px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.our-services .our-services-3wiijG {
  background-color: transparent;
  height: auto;
  left: 112px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.our-services .group-1-Mx4zvM {
  background-color: transparent;
  height: 39px;
  left: 1201px;
  position: absolute;
  top: 51px;
  width: 117px;
}

.our-services .rectangle-2-Q5H0BD {
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 115px;
}

.our-services .contact-us-Q5H0BD {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 10px;
  width: auto;
}

.our-services .rectangle-3-Mx4zvM {
  background-color: var(--white);
  border-radius: 100px;
  height: 2px;
  left: 489px;
  mix-blend-mode: normal;
  position: absolute;
  top: 87px;
  width: 22px;
}

.our-services .footer-RQB2Az {
  background-color: transparent;
  height: 389px;
  left: -1px;
  position: absolute;
  top: 3167px;
  width: 1442px;
}

.our-services .rectangle-34-xDVaF4 {
  background-color: var(--white);
  height: 389px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1442px;
}

.our-services .group-32-xDVaF4 {
  background-color: transparent;
  height: 301px;
  left: 126px;
  position: absolute;
  top: 0px;
  width: 1202px;
}

.our-services .we-are-committed-to-McgS9A {
  background-color: transparent;
  height: auto;
  left: 98px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 74px;
  width: 262px;
}

.our-services .help-McgS9A {
  background-color: transparent;
  height: auto;
  left: 930px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 283px;
  white-space: nowrap;
  width: 31px;
}

.our-services .x2021-one-cash-McgS9A {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 283px;
  white-space: nowrap;
  width: 106px;
}

.our-services .term-conditions-McgS9A {
  background-color: transparent;
  height: auto;
  left: 995px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 283px;
  white-space: nowrap;
  width: 113px;
}

.our-services .privacy-McgS9A {
  background-color: transparent;
  height: auto;
  left: 1142px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 283px;
  white-space: nowrap;
  width: 50px;
}

.our-services .image-106-McgS9A {
  background-color: transparent;
  height: 22px;
  left: 1079px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 109px;
  width: 22px;
}

.our-services .image-107-McgS9A {
  background-color: transparent;
  height: 22px;
  left: 1124px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 109px;
  width: 22px;
}

.our-services .image-108-McgS9A {
  background-color: transparent;
  height: 22px;
  left: 1170px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 109px;
  width: 22px;
}

.our-services .rectangle-33-McgS9A {
  background-color: var(--black-haze);
  height: 1px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1192px;
}

.our-services .group-186-xDVaF4 {
  background-color: transparent;
  height: 151px;
  left: 113px;
  position: absolute;
  top: 49px;
  width: 92px;
}

.our-services .group-2-RQB2Az {
  background-color: transparent;
  height: 21px;
  left: 478px;
  position: absolute;
  top: 60px;
  width: 305px;
}

.our-services .home-Xqy37U {
  background-color: transparent;
  color: var(--violet-eggplant);
  cursor: pointer;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.our-services .faq-Xqy37U {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 270px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.our-services .our-services-Xqy37U {
  background-color: transparent;
  height: auto;
  left: 112px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.our-services .rectangle-3-RQB2Az {
  background-color: var(--violet-eggplant);
  border-radius: 100px;
  height: 2px;
  left: 623px;
  mix-blend-mode: normal;
  position: absolute;
  top: 87px;
  width: 22px;
}

.our-services .group-184-RQB2Az {
  background-color: transparent;
  height: 52px;
  left: 124px;
  position: absolute;
  top: 45px;
  width: 32px;
}

.our-services .group-185-RQB2Az {
  background-color: transparent;
  height: 39px;
  left: 1201px;
  position: absolute;
  top: 51px;
  width: 117px;
}

.our-services .rectangle-2-KtioQ6 {
  background-color: transparent;
  border: 1px solid var(--violet-eggplant);
  border-radius: 4px;
  height: 39px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 115px;
}

.our-services .login-KtioQ6 {
  background-color: transparent;
  height: auto;
  left: 42px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 9px;
  width: auto;
}
