:root { 
  --black: #000000;
  --black-haze: #f4f6f8;
  --black-rock: #0b1131;
  --blueberry: #5975ff;
  --gull-gray: #a0abb8;
  --mystic: #e6eaee;
  --violet-eggplant: #9716d3;
  --white: #ffffff;
 
  --font-size-l: 18px;
  --font-size-m: 14px;
  --font-size-s: 12px;
  --font-size-xl: 22px;
  --font-size-xs: 11.5px;
  --font-size-xxl: 24px;
  --font-size-xxxl: 48px;
 
  --font-family-lato: "Lato", Helvetica;
  --font-family-poppins: "Poppins", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
}
.poppins-medium-gull-gray-12px {
  color: var(--gull-gray);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.poppins-medium-gull-gray-14px {
  color: var(--gull-gray);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.poppins-medium-white-14px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.poppins-medium-black-rock-14px {
  color: var(--black-rock);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.poppins-bold-black-rock-48px {
  color: var(--black-rock);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.poppins-bold-black-rock-24px {
  color: var(--black-rock);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.poppins-semi-bold-violet-eggplant-14px {
  color: var(--violet-eggplant);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.poppins-semi-bold-violet-eggplant-24px {
  color: var(--violet-eggplant);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
}

.poppins-semi-bold-white-14px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.poppins-bold-black-rock-18px {
  color: var(--black-rock);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.poppins-semi-bold-white-24px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
}

.poppins-bold-violet-eggplant-18px {
  color: var(--violet-eggplant);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.poppins-semi-bold-violet-eggplant-18px {
  color: var(--violet-eggplant);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}
